.blog-post-container {
  padding-bottom: 64px;
}

.heading {
  font-size: 32px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-family: "Nunito Sans";
  font-weight: 900;
  color: #222222;
  text-rendering: optimizeLegibility;
}

.subheading {
  font-size: 25px;
  margin-top: 64px;
  margin-bottom: 12px;
  font-family: "Nunito Sans";
  font-weight: 700;
  color: #222222;
}

.para {
  font-size: 20px;
  margin-bottom: 32px;
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #222222;
}

.listElement {
  font-size: 20px;
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #222222;
}

blockquote .para {
  background-color: #eafff3;
  font-size: 18px;
  font-family: "Nunito Sans";
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  color: #222222;
  font-weight: 400;
  border-left: 6px solid #3ddc84;
  border-radius: 8px;
}

.inline {
  font-size: 20px;
  background-color: lightgoldenrodyellow;
}

pre[class*="language-"] {
  border-radius: 8px;
}

.postHeaderContainer {
  margin-bottom: 96px;
  margin-top: 64px;
  text-align: center;
}

.postHeader {
  font-size: 48px;
  font-weight: bold;
  font-family: "Nunito Sans";
  color: #222222;
}

.postSubheader {
  font-size: 14;
  font-family: "Merriweather";
  font-weight: 100;
  color: #444444;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postSubheader a {
  color: #4285f4;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 6px;
}

.heroImage {
  background-size: contain;
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  border-radius: 8px;
}

.img {
  width: 80%;
  align-items: center;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.img + em {
  align-items: center;
  justify-self: center;
  display: block;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 20px;
}

.url {
  color: #4285f4;
  text-decoration: none;
}

.footer {
  margin-top: "2%";
  height: 11.5rem;
  width: 100%;
  margin-bottom: "0px";
  bottom: "0px";
}

/* Inline code */
.language-text {
  font-size: 20px;
  font-family: "Nunito Sans" !important;
  color: #222222 !important;
  font-weight: bolder !important;
  background-color: rgba(255, 229, 100, 0.2) !important;
}
